<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Pizza</title>

</head>
<body>
    <form method="POST" action="/cadastro_pizza">
        <input name="sabor" type="text" placeholder="sabor da pizza">
        <input name="descricao" type="text" placeholder="descrição">
        <input name="valor" type="number" placeholder="valor">
        <input name="url_foto" type="text" placeholder="url da foto">
        <input name="button" type="submit">
    </form>
</body>
</html>