<div class="modal-body">
    <form method="POST" action="/delete_pizza">

        <div class="form-row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                <label for="id_pizza">Id_pizza </label>
                <input class="form-control" id="id_pizza" name="id_pizza">
                <button type="submit"> Deletar</button>
            </div>








            <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                <label for="valor">Valor<small>(R$)</small> </label>
                <input class="form-control" id="valor" name="valor">
            </div>
        </div>
        <div class="form-row"> 
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="url_foto">URL Foto: </label>
                <input class="form-control" id="url_foto" name="url_foto">
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="descricao"> Descrição: </label>
                <textarea class="form-control" id="descricao" name="descricao" style="resize: vertical;"></textarea>
            </div>
        </div>

        <div class="modal-footer d-flex justify-content-between p-0">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Salvar</button>
        </div> -->
    </form>
</div> 