<script>
    $('.cep').mask('00000-000')
    $('.telefone').mask('(00) 0000-0000')
    $('.celular').mask('(00) 0.0000-0000')
</script>
<div class="modal-header"> 
        <h5 class="modal-title">Cadastrar</h5>
        <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="cadastrar_cliente" method="POST" action="/cliente/cadastrar">
            <input type="hidden" name="id_usuario" id="id_usuario" value="{{cliente['id_usuario']}}">
            <div class="form-row">
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
                    <label for="nome">Nome: </label>
                    <input class="form-control" id="nome" name="nome" value="{{cliente['nome']}}" require readonlyd>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
                    <label for="telefone">Telefone/Celular: </label>
                    <input class="form-control telefone" id="telefone" name="telefone" value="{{cliente['telefone']}}" required>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
                    <label for="telefone1">Telefone/Celular 2: </label>
                    <input class="form-control celular" id="telefone1" name="telefone1" value="{{cliente['telefone1']}}" required>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between p-0">
                <button type="button" class="btn btn-secondary mx-0" onclick="closeModal()">Cancelar</button>
                <button type="submit" class="btn btn-submit btn-primary mx-0">Salvar</button>
            </div>
        </form>
    </div>

    