{% extends "base.html" %}
{% block conteudo %}

<script defer>
    $('.data').each(function(i, el){
        var data = new Date($(el).html()).toLocaleDateString()
        $(el).html(data)
    });
</script>
<section class="cardapio py-5 px-5">
   <div class="wrapper">
    <h3 class="text-center">Clientes</h3>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th></th>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone 1</th>
                <th>Celular</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if clientes|length > 0 %}
            {% for item in clientes %}
            <tr>
                <td> </td>
                <td>{{ item['id_cliente']}}</td>
                <td>{{ item['nome']}}</td>
                <td>{{ item['email']}}</td>
                <td>{{ item['telefone']}}</td>
                <td>{{ item['telefone1']}}</td>
                <td>
                    <button class="btn btn-primary">Excluir</button>
                    <button class="btn btn-info" onclick="carregaModal('cliente', 'editar/' + $(this).data('id'))" data-id="{{ item['id_cliente']}}">Editar</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td></td>
                <td colspan="4">Nenhum pedido registrado</td>
                <td></td>
            </tr>
            {% endif %}
        </tbody>
    </table>

   </div>
</section>

{% endblock %}
