<div class="modal-header">
    <h5 class="modal-title">Endereço de entrega</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form method="POST" action="/pedido/confirmar-endereco">
       
        {% if enderecos|length > 0 %}
        {% for endereco in enderecos %}
        <div class="form-row">
            <div class="col-lg-7 col-md-8 col-sm-12 col-12 p-2 mb-1" style="background-color: #eaeaea">
               <div>
                   <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-info" onclick="carregaModal('cliente', 'editar-endereco/' + $(this).data('id'))" data-id="{{ endereco['id_endereco'] }}" style="line-height: 1.1;">Editar</button>
                        <p class="d-flex align-items-center">
                            <input type="radio" name="id_endereco"  id="{{endereco['id_endereco']}}" value="{{endereco['id_endereco']}}">
                            <label style="padding: 4px 10px;font-size: 11px;" for="{{endereco['id_endereco']}}">
                                Usar esse
                            </label>
                        </p>
                   </div>
                    <p><small>{{ endereco['type'] }} {{ endereco['street'] }}, {{ endereco['number'] }}</small></p>
                    <p><small>{{ endereco['district'] }}, {{ endereco['city'] }} - {{ endereco['state'] }} - {{
                        endereco['postal_code'] }}</small></p>
                        <div class="d-flex align-items-start justify-content-between">
                            <p>
                                <small><strong>Complemento: </strong>{{ endereco['complement'] }}</small>
                            </p>
                            <button type="button" class="btn btn-primary py-1 px-2 small" onclick="excluirEndereco(this)" data-id="{{endereco['id_endereco']}}">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
               </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <small>Você não possui nenhum endereço cadastrado</small><br>
        {% endif %}
        <button type="button" class="btn btn-primary small py-1 px-2 mt-2" onclick="carregaModal('pedidos', 'cadastrar-endereco/' + $('#id_cliente').val())">Escolher outro endereço</button>


        <!-- <div class="form-row">
            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-2 pb-0 mb-1">
                <label class="small" for="type"><small>Tipo:</small> </label>
                <select class="form-control small" id="type" name="type" value="{{cliente['type']}}" required>
                    <option value="Rua"><small>Rua</small></option>
                    <option value="Avenida"><small>Avenida</small></option>
                    <option value="Estrada"><small>Estrada</small></option>
                </select>
            </div>
            <div class="form-group col-lg-8 col-md-8 col-sm-8 col-8 pb-0 mb-1">
                <label class="small" for="street">Endereço: </label>
                <input class="form-control small" id="street" name="street" value="{{cliente['street']}}" required>
            </div>
            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-2 pb-0 mb-1">
                <label class="small" for="number"> Número: </label>
                <input class="form-control small" id="number" name="number" required value="{{cliente['number']}}"
                    required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12 pb-0 mb-1">
                <label class="small" for="postal_code">CEP: </label>
                <input class="form-control small cep" id="postal_code" name="postal_code"
                    value="{{cliente['postal_code']}}" required>
            </div>
            <div class="form-group col-lg-8 col-md-8 col-sm-12 col-12 pb-0 mb-1">
                <label class="small" for="complement"> Complemento: </label>
                <input class="form-control small" id="complement" name="complement" required
                    value="{{cliente['complement']}}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-5 col-md-5 col-sm-12 col-12 pb-0 mb-1">
                <label class="small" for="district">Bairro: </label>
                <input class="form-control small" id="district" name="district" value="{{cliente['district']}}"
                    required>
            </div>
            <div class="form-group col-lg-5 col-md-5 col-sm-12 col-12 pb-0 mb-1">
                <label class="small" for="city"> Cidade: </label>
                <input class="form-control small" id="city" name="city" required value="{{cliente['city']}}">
            </div>
            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-12 pb-0 mb-1">
                <label class="small" for="state"> UF: </label>
                <select class="form-control small" id="state" name="state" required>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP" selected>São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
        </div> -->
        <div class="modal-footer d-flex justify-content-between p-0 mt-2 pt-2">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-submit btn-primary">Finalizar</button>
        </div>
    </form>
</div>