<script>
    $('#valor').mask('000.000.000.000.000,00', {reverse: true})
</script>
<div class="modal-header"> 
        <h5 class="modal-title">Editar</h5>
        <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="editar_pedido" method="POST" action="/pedido/edicao/{{pedido['id_pedido']}}">
            <input type="hidden" name="id_pedido" id="id_pedido" value="{{pedido['id_pedido']}}">
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                    <label for="nome">Nome: </label>
                    <input class="form-control" id="nome" name="nome" value="{{pedido['nome']}}" required>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                    <label for="endereco">Endereço: </label>
                    <input class="form-control" id="endereco" name="endereco" value="{{pedido['endereco']}}" required>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                    <label for="telefone1">Telefone 1: </label>
                    <input class="form-control decimal" id="telefone1" name="telefone1" value="{{pedido['telefone1']}}" required>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                    <label for="telefone2">Telefone 1: </label>
                    <input class="form-control decimal" id="telefone2" name="telefone2" value="{{pedido['telefone2']}}" required>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-between p-0">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancelar</button>
                <button type="submit" class="btn btn-submit btn-primary">Salvar</button>
            </div>
        </form>
    </div>
